<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>291586524803-1q26b2pkattafmgdfntof93fvn0d6mo9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.291586524803-1q26b2pkattafmgdfntof93fvn0d6mo9</string>
	<key>API_KEY</key>
	<string>AIzaSyDM3SkjEP2OySqdVdgJjxZ4yyov-o4keSE</string>
	<key>GCM_SENDER_ID</key>
	<string>291586524803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bksExample</string>
	<key>PROJECT_ID</key>
	<string>bk-example</string>
	<key>STORAGE_BUCKET</key>
	<string>bk-example.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:291586524803:ios:e3ccdc5d750e9f9dd13db6</string>
</dict>
</plist>